$colorNav: #D7E7BD;
$colorFooter: #928c6f;
$colorTitulo: #d3fad6;
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
}
/*ENCABEZADO*/
header {
    
    .numero-header{
        font-family: Spartan;
    } 
    
}
.contacto-header{
    background-color: $colorNav ;
}
    

nav{
    .barra-movimiento:hover{
        color: black;
        background-color: $colorFooter;
    }
    .letra-holder{
        font-family: Montserrat;
    }       
} 
#menu{
    background-color:$colorNav ;
        a{
            font-size: 1.5rem;
            font-family: Spartan;
            color: black;
        }
}
/*FIN ENCABEZADO*/

footer{
    background-color: $colorFooter;
    .iconos i{
        font-size: 3rem;
        padding: 0 35px;
        color: black;
    }
}

.titulo-original{
    font-family:Spartan;
    font-size: 3rem;
    text-align: center;
    background-color: lightgray;
}

.titulo-copia{
    @extend .titulo-original;
        background-color: lightgreen;
}
/*MEDIA CELULAR*/
@media only screen and (max-width: 380px) {
    iframe{ width: 100%;}
    .sobreMi{
        width: 110%;
        height: 100%;
    }
    .pedido-antici{
        font-size: 1rem;
    }
    .fotos-tablet{
        display: none;
    }
    .foto-oreo{
        width: 80%;
        height: 170%;
    }
    .grid-responsive{
        width: 100%;
    }
    .fechas-celular{
        font-size: 5%;
    }
}
/*MEDIA TABLET*/
@media only screen and ( max-width:768px){
    iframe{ width: 100%;}
}


