
div{
    .mi-emprendimiento{
        font-family: Montserrat;
    }
    h1{
    font-family:Spartan;
    font-size: 3rem;
    text-align: center;
    transition: height 2s;
    }
}
div{
    .carousel-inner{
        max-height: 50rem;
    }
}

section{
    .pedido-antici{
    font-family: roboto;
    font-size: 1.3rem;
    font-weight: bold;
    }
    h2{
        background-color: #edeba0;
        font-family: roboto;
        font-weight: bold;
    }
}