
section{
    .biografia-pilar{
      font-family: Spartan;
      font-weight: bold;
    } 
}
  .oreo-titulo{
    background-color: #E8F7D9;
    font-family: Spartan;
    text-align: center;
    font-size: 30px;
  }

  .receta{
    background-color: #E1F4CF; 
    font-family: Roboto;
    font-size: 120%;
    font-weight: bolder;
  }

 
   .titulo-receta{
    font-size: 120%;
  }
 
